<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="CONSOLE" />
	</appender>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="debug" />
		<appender-ref ref="ASYNC" />
	</root>

	<logger name="gov.nasa.jpf.jdwp.JDWPListener">
		<level value="TRACE" />
	</logger>
	<logger name="gov.nasa.jpf.jdwp.JDWPSearchBase">
		<level value="TRACE" />
	</logger>
	<logger name="gov.nasa.jpf.jdwp.JDWPListenerBase">
		<level value="TRACE" />
	</logger>
	<logger name="gov.nasa.jpf.jdwp.command.ClassLoaderReferenceCommand">
		<level value="TRACE" />
	</logger>
</log4j:configuration>